nav {
    height: 75px;
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: blueviolet;
}

li{
    background-color: aquamarine;
    height: 80%;
}